{% extends "base.html.twig" %}
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
{% block body %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">


                <div class="row">
<<<<<<< Updated upstream

                    <h1>
                        Hello {{ user }}
                    </h1>

                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>


=======
    <h1>saluuuut</h1>
>>>>>>> Stashed changes
                </div>
            </div>
        </div>
    </div>
<<<<<<< Updated upstream
{% endblock %}
=======

{% endblock %}
>>>>>>> Stashed changes
