{% extends 'base.html.twig' %}

{% block body %}



<br>
<br>
<br>
<br>
<br>
        <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                     

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card m-b-20">
                                    <img class="card-img-top img-fluid" src="{{ asset('assets/images/gallery/5.jpg')}}" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Titre : {{ Reclamation.titre}}</h4>
                                        <p class="card-text">Contenu : {{Reclamation.contenu}}</p>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <h4 class="card-title">La reponse </h4>
                                        <p class="card-text">	prise en consideration.</p>
                                        <p class="card-text">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                    <img class="card-img-bottom img-fluid" src="{{ asset('assets/images/gallery/7.jpg')}}   " alt="Card image cap">
                                </div>
                            </div>

                           

                        </div>
                        <!-- end row -->

                      


                    

 
<br>
<br>
<br>
<br>
<br>


<br>
<br>
<br>
<br>
<br>


<br>
<br>
<br>
<br>
<br>
{% endblock %}