







  <h1>Mes Billets</h1>




    <table class="table" border=3>
        <thead>


        <tr>

            <td ><h3> <a>Type</a></h3></td>
            <td ><h3> <a>Prix</a></h3></td>



        </tr>
        </thead>
        <tbody>
            <tr>


                <td>
                    {{ type }}

                </td>



                <td>
                    {{ prix }} Dt
                </td>

            </tr>
        </tbody>
    </table>



